/**
 * Joinery Layout Primitives
 * 
 * Import this for all layout primitives, or import individually
 * for tree-shaking.
 * 
 * @import '@joinery/primitives';
 * 
 * Or individually:
 * @import '@joinery/primitives/stack';
 * @import '@joinery/primitives/cluster';
 * etc.
 * 
 * Requires: @joinery/tokens (or define the CSS custom properties yourself)
 */

@import './stack.css';
@import './cluster.css';
@import './grid.css';
@import './center.css';
@import './box.css';

/* TODO: Add remaining primitives */
/* @import './sidebar.css'; */
/* @import './switcher.css'; */
/* @import './cover.css'; */
/* @import './frame.css'; */
/* @import './reel.css'; */
/* @import './imposter.css'; */

/* TODO: Add extended primitives */
/* @import './surface.css'; */
/* @import './prose.css'; */
/* @import './section.css'; */
/* @import './page.css'; */
/* @import './split.css'; */
